<!--el mapa principal-->
<dnt-mapa #elMapa class="principal-mapa"></dnt-mapa>

<!--el panel de layers y simbologia-->
<div id="panel1" class="principal-panel">
    <dnt-layerlist [json1]="eljson1" #ellayerlist></dnt-layerlist>
</div>

<!--el panel de arriba que sirve de encabezado-->
<div id="panel2" class="header-panel">
    <div class="to-logos">
        <img src="assets/images/logo1.png" alt="">
    </div>
    <div class="to-logos title">
        <p class="title-header"> Nodo de Colaboracion Geoespacial</p>
    </div>
    <app-toolbar class="toolbar" [olMapa]="this.mapa" [layerListComp]="ellayerlist" ></app-toolbar>
</div>

<!--legend popup-->
<div id="legend-panel">
    <app-legend-panel class="legend-content" [legends]="legends"></app-legend-panel>
</div>
