.div-map-ol{
    width: 100%;
    height: 100%;
    position: relative;
}

.cursor-default{
    cursor: default;
}

.cursor-help{
    cursor: help;
}

.cursor-wait{
    cursor: wait;
}



.dnt-pop{
    position: absolute;
    
    .dnt-pop-tip-container{
        width: 40px;
        height: 20px;
        position: absolute;
        left: 0%;
        margin-left: -10px;
        overflow: hidden;
        pointer-events: none;
        top: 0%;

        
        

        
    }
}

.dnt-pop-tip , .dnt-pop-content{
    background:#fff;
    color:#333;
    box-shadow: 13px 11px 11px rgba(0, 0, 0, 0.4);

}

.dnt-pop-content{
    margin-left: 10px;
    background-color:#fff;
    
    position: absolute;
    
    padding: 1px;
    text-align: left;
    

    .dnt-pop-inner{
        width: 300px;
        height: 40vh;
        padding: 5px;
        /*margin: 0 0 0 0px;*/
        overflow-y: auto;
    }
}


.dnt-pop-tip{
            
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.table-attrs{
    width: 100%;
}


.negritas{
    font-weight: 600;
  }
  
tr{
    height: 38px;
  }
